.calculator {
    width: 300px;
    margin: 20px auto;
    background-color: rgb(3, 100, 104);
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  
  .result {
    color: aliceblue;
    margin-right: 100px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .clearButton {
    text-align: center;
    align-items: center;
    position: relative;
    color: var(--glow-color);
    padding: 0.5em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: linear-gradient(270deg, transparent, #03e9f4);
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1em;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  .clearButton hover {
    animation: glow 1500ms infinite;
  }